/* CONTENEDOR CENTRAL: debe aplicar el modelo flexbox*/
#contenedor-central{
    display: flex;
}

/* PLANTILLA DE PRODUCTOS: debe conservar estos estilos*/
.plantilla-item{
    background-color:#ddd9d9;
    min-width: 400px;
    max-width: 500px;
    height: 300px;
}

/* BARRA SECUNDARIA: debe aplicar el modelo flexbox */
.barra-secundaria{
    display: flex;
}

/* FOOTER: debe conservar la altura, debe cambiar el color de fondo*/
footer{
    height: 25px;
    background-color: cadetblue;
}